<!-- Add button to create a new education record -->

<!-- Form with collapsible panels -->
<form [formGroup]="educationForm">
  <div formArrayName="educationRecords">
    <p-accordion>
      <p-accordionTab
        *ngFor="let education of educationRecords.controls; let i = index"
        [formGroupName]="i"
        [header]="education.get('nameOfInstitution')?.value || 'New Institution'"
        [selected]="true"
      >

      
        <section class="content-wrapper custom-divider">

          <div class="form-column flex flex-wrap -mx-2">
            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <label for="name">Institution Name</label>
              <input
                type="text"
                id="name"
                formControlName="nameOfInstitution"
                pInputText
                  class="w-full border border-gray-300 rounded px-3 py-2"
                placeholder="Enter institution name"
              />
            </div>

            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <label for="degree"> Qualification </label>
              <input
                type="text"
                id="degree"
                formControlName="degree"
                placeholder="Enter degree"
                pInputText
                  class="w-full border border-gray-300 rounded px-3 py-2"
              />
            </div>
          </div>

          <div class="form-section flex flex-wrap -mx-2">
            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <label for="country"> City </label>
              <input
                placeholder="Enter City"
                formControlName="city"
                type="text"
                pInputText
                  class="w-full border border-gray-300 rounded px-3 py-2"
              />
            </div>

            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <label for="country">Country </label>
              <input
                placeholder="Country"
                type="text"
                formControlName="country"
                pInputText
                  class="w-full border border-gray-300 rounded px-3 py-2"
              />
            </div>
          </div>

          <div class="form-column flex flex-wrap -mx-2">
            <div class="form-group flex flex-col px-2 py-2 w-full sm:w-1/2">
              <label for="startYear">Start Date</label>

              <p-calendar
                formControlName="startYear"
                (ngModelChange)="onDateChange($event)"
              ></p-calendar>
            </div>

            <div class="form-group flex px-2 py-2 flex-col w-full sm:w-1/2">
              <label for="endYear">End Date</label>
              <p-calendar
                formControlName="endYear"
                (ngModelChange)="onDateChange($event)"
              ></p-calendar>
            </div>
          </div>

          <div class="form-group  px-2 py-2 -mx-2">
            <div class="form-group">
              <div class="checkbox-wrapper-14">
                <label for="s1-14" class="font-normal">
                  Institution Website
                </label>
                <input type="text"
                class="border border-gray-300 rounded px-3 py-2"
                pInputText formControlName="website" />
              </div>
            </div>
          </div>

          <div class="form-group px-2 py-2 -mx-2">
            <label for> Summary </label>
            <app-custom-editor
              formControlName="summary"
              placeholder="Enter summary"
              name="summary"
            ></app-custom-editor>
          </div>

          <div class="form-actions">
            <p-button
              (onClick)="removeEducationRecord(i)"
              severity="danger"
              [outlined]="true"
              icon="pi pi-trash"
              label="Remove"
              type="button"
            ></p-button>
          </div>
        </section>
      </p-accordionTab>
    </p-accordion>
  </div>
</form>


<p-button
  class="btn-add"
  (onClick)="addEducationRecord()"
  type="button"
  label="+ Add Education"
  icon="pi pi-plus"
  severity="secondary"
  [outlined]="true"
></p-button>
