<div class="form-section">
  <form [formGroup]="extraActivitiesForm">
    <div formArrayName="skillsRecords">
      <div
        *ngFor="let skills of skillsRecord.controls; let i = index"
        [formGroupName]="i"
        class="education-record"
      >
        <h3></h3>

        <div class="form-section flex flex-wrap -mx-2">
          <div class="form-group w-full  px-2 py-2 sm:w-1/2">
            <label for="name"> Activity </label>
            <input
              id="name"
              type="text"
              pInputText
              placeholder=" Enter Skill"
              formControlName="name"
              class="w-full"
            />
          </div>

          <div class="example-input   sm:w-1/2  px-2 py-2">
            <label for="name"> Proficiency  </label>
            <p-dropdown
              class="w-full"
              formControlName="proficiency"
              [showClear]="true"
              placeholder="Select Proficiency"
              [options]="[
                {label: 'Beginner', value: 'Beginner'},
                {label: 'Intermediate', value: 'Intermediate'},
                {label: 'Advanced', value: 'Advanced'},
                {label: 'Expert', value: 'Expert'},
                {label: 'Master', value: 'Master'}
              ]"
              optionLabel="label"
              optionValue="value"
            ></p-dropdown>
          </div>
        </div>

        <div class="form-actions">
          <p-button
            (onClick)="removeEducationRecord(i)"
            severity="danger"
            [outlined]="true"
            icon="pi pi-trash"
            label="Remove"
            type="button"
          ></p-button>
        </div>
      </div>
    </div>

    <p-button
      (onClick)="addEducationRecord()"
      label="+ Add Activity"
      icon="pi pi-plus"
      class="btn-add"
      severity="secondary"
      [outlined]="true"
      type="button"
    ></p-button>
  </form>
</div>
