<section class="flex justify-center items-center h-screen">
  <form
    [formGroup]="loginForm"
    class="login-form"
    (ngSubmit)="submitForm()"
  >
    <div>
      <h1 class="text-3xl font-bold text-center">Log in</h1>
    </div>
    <div class="my-4">
      @if (loginForm.get('userName')?.invalid && loginForm.get('userName')?.touched) {
        <small class="text-red-500">Enter email!</small>
      }
      <input
        type="text"
        pInputText
        formControlName="userName"
        placeholder="Email"
        class="w-full"
      />
    </div>

    <div class="my-4">
      @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
        <small class="text-red-500">Enter Password!</small>
      }
      <input
        type="password"
        pInputText
        formControlName="password"
        placeholder="Password"
        class="w-full"
      />
    </div>

    <div class="login-form-margin flex justify-between">
      <div>
        <p-checkbox formControlName="remember" inputId="remember">
          <label for="remember">Remember me</label>
        </p-checkbox>
      </div>
      <div>
        <a class="login-form-forgot">Forgot password</a>
      </div>
    </div>

    <button
      pButton
      type="submit"
      class="login-form-button login-form-margin w-full"
      label="Log in"
    ></button>
    <div class="btn-group">
      <button (click)="login()" type="button" class="login-with-google-btn">
        Continue with google
      </button>
    </div>

    <div class="login-form-margin">
      <a class="login-form-forgot" routerLink="/auth/register"> Register </a>
    </div>
  </form>
</section>
