<div class="form-section">
  <form [formGroup]="courseForm">
    <div formArrayName="courseRecords">
      <div
        *ngFor="let course of courseRecords.controls; let i = index"
        [formGroupName]="i"
        class="course-record"
      >
        <h3></h3>

        <div class="content-wrapper">
          <div class="form-section flex flex-wrap -mx-2">
            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <input
                placeholder="Course Title"
                formControlName="courseName"
                type="text"
                class="tw-input w-full"
              />
            </div>

            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <input
                placeholder="Institution"
                type="text"
                formControlName="institution"
                class="tw-input w-full"
              />
            </div>
          </div>

          <div class="form-column flex flex-wrap -mx-2">
            <div class="form-group flex flex-col w-full py-2 px-2 sm:w-1/2">
              <label for="startYear">Start Date</label>
              <input
                type="date"
                id="startYear"
                formControlName="startYear"
                class="tw-input w-full"
                (change)="onDateChange($event)"
              />
            </div>

            <div class="form-group flex flex-col w-full py-2 px-2 sm:w-1/2">
              <label for="endYear">End Date</label>
              <input
                type="date"
                id="endYear"
                formControlName="endYear"
                class="tw-input w-full"
                (change)="onDateChange($event)"
              />
            </div>
          </div>

          <div class="form-group  px-2 py-2 -mx-2">
            <label for> Summary </label>
            <app-custom-editor
              formControlName="summary"
              placeholder="Enter summary"
           
              name="summary"
            ></app-custom-editor>
          </div>

          <div class="form-actions">
            <button
              type="button"
              (click)="removeCourseRecord(i)"
              class="tw-btn-danger"
            >
              <i class="pi pi-trash"></i>
              <span>Remove</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <button
      type="button"
      (click)="addCourseRecord()"
      class="tw-btn-add"
    >
      <i class="pi pi-plus"></i>
      <span>+ Add Course</span>
    </button>
  </form>
</div>
