<div class="form-section">
  <form [formGroup]="educationForm">
    <div formArrayName="educationRecords">
      <div
        *ngFor="let education of educationRecords.controls; let i = index"
        [formGroupName]="i"
        class="education-record"
      >
        <h3></h3>

        <div class="content-wrapper">
          <div class="form-section flex flex-wrap -mx-2">
            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <input
                placeholder="Course Title"
                formControlName="nameofCourse"
                type="text"
                pInputText
                class="w-full"
              />
            </div>

            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <input
                placeholder="Institution"
                type="text"
                class="w-full"
                formControlName="institution"
                pInputText
              />
            </div>
          </div>

          <div class="form-column flex flex-wrap -mx-2">
            <div class="form-group flex flex-col w-full py-2 px-2 sm:w-1/2">
              <label for="startYear">Start Date</label>
              <p-calendar
                formControlName="startYear"
                (ngModelChange)="onDateChange($event)"
              ></p-calendar>
            </div>

            <div class="form-group flex flex-col w-full py-2 px-2 sm:w-1/2">
              <label for="endYear">End Date</label>
              <p-calendar
                formControlName="endYear"
                class="w-full"
                (ngModelChange)="onDateChange($event)"
              ></p-calendar>
            </div>
          </div>

          <div class="form-group  px-2 py-2 -mx-2">
            <label for> Summary </label>
            <app-custom-editor
              formControlName="summary"
              placeholder="Enter summary"
           
              name="summary"
            ></app-custom-editor>
          </div>

          <div class="form-actions">
            <p-button
              (onClick)="removeEducationRecord(i)"
              severity="danger"
              [outlined]="true"
              icon="pi pi-trash"
              label="Remove"
              type="button"
            ></p-button>
          </div>
        </div>
      </div>
    </div>

    <p-button
      class="btn-add"
      (onClick)="addEducationRecord()"
      type="button"
      label="+ Add Course"
      icon="pi pi-plus"
      severity="secondary"
      [outlined]="true"
    ></p-button>
  </form>
</div>
