<div class=" ">
  <form [formGroup]="experienceForm">
    <div formArrayName="experienceRecords">

      <p-accordion>
        <p-accordionTab
          *ngFor="let education of experienceRecords.controls; let i = index"
          [formGroupName]="i"
          [header]="education.get('employerName')?.value || 'New Employer'"
          [selected]="true"
        >

        <div class="form-section">
          <div class="flex flex-wrap  -mx-2">
            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <label for="country"> Job Title </label>
              <input
                placeholder="Enter Job Title"
                formControlName="jobTitle"
                type="text"
                pInputText
                class="w-full"
              />
            </div>

            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <label for="country">Employer Name </label>

              <input
                pInputText
                placeholder="Enter Employer name"
                class="w-full"
                type="text"
                formControlName="employerName"
              />
            </div>
          </div>

          <div class="form-section flex flex-wrap  -mx-2">
            <div class="form-group w-full sm:w-1/2 px-2 py-2">
              <label for="country"> City/Town </label>
              <input
                placeholder="Enter City"
                formControlName="city"
                type="text"
                pInputText
                class="w-full"
              />
            </div>

            <div class="form-group w-full sm:w-1/2 px-2 py-2">
              <label for="country">Country </label>
              <input
                placeholder="Country"
                type="text"
                formControlName="country"
                class="w-full"
                pInputText
              />
            </div>
          </div>

          <div class="form-section">
            <div class="form-column flex flex-wrap  -mx-2">
              <div class="form-group flex flex-col w-full sm:w-1/2 px-2 py-2">
                <label for="startYear">Start Date</label>
                <p-calendar
                  formControlName="startYear"
                  (ngModelChange)="onDateChange($event)"
                ></p-calendar>
              </div>

              <div class="form-group flex flex-col w-full sm:w-1/2 px-2 py-2">
                <label for="endYear">End Date</label>
                <p-calendar
                  formControlName="endYear"
                  (ngModelChange)="onDateChange($event)"
                ></p-calendar>
              </div>

              <div class="form-group w-full sm:w-1/2 px-2 py-2">
                <div class="checkbox-wrapper-14">
                  <p-checkbox
                    inputId="currentlyHere"
                    formControlName="currentlyHere"
                    label="I Currently work here"
                    [binary]="true"
                  ></p-checkbox>
                </div>
              </div>
            </div>
          </div>

      
            <div class="form-group    -mx-2  px-2 py-2">
              <div class="checkbox-wrapper-14">
                <label
                  for="s1-14"
                  class="font-normal"
                >
                  Company Website
                </label>
                <input type="text"
                class="border border-gray-300 rounded px-3 py-2"
                pInputText formControlName="companyWebsite" />
              </div>
            </div>
          

          <div>
            <div class="form-group px-2 py-2 -mx-2">
              <label for=""> Role Description </label>
              <app-custom-editor formControlName="summary"></app-custom-editor>
            </div>
          </div>

          <div class="flex justify-end">
          
            <p-button
              (onClick)="removeField(i)"
              severity="danger"
              [outlined]="true"
              icon="pi pi-trash"
              label="Remove"
              type="button"
            ></p-button>
          </div>
        </div>

      </p-accordionTab>
    </p-accordion>

      <!-- </div> -->
    </div>
     

    <p-button
      class="btn-add"
      (onClick)="addEducationRecord()"
      type="button"
      label="+ Add Experience"
      icon="pi pi-plus"
      severity="secondary"
      [outlined]="true"
    ></p-button>
  </form>
</div>
