<div class="form-section">
    <form [formGroup]="publicationsForm">
      <div formArrayName="educationRecords">
        <div
          *ngFor="let education of educationRecords.controls; let i = index"
          [formGroupName]="i"
          class="education-record"
        >
          <h3></h3>
  
          <div class="form-section flex flex-wrap  -mx-2">
            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <label for="name"> Skill </label>
              <input
                id="name"
                type="text"
                pInputText
                formControlName="name"
                placeholder="Skill"
                class="w-full"
              />
            </div>
  
        
  
            <div class="form-group w-full  sm:w-1/2">
              <div class="example-input px-2 py-2 ">
                <label for="name"> Proficiency  </label>
                <p-dropdown
                  class="w-full"
                  formControlName="proficiency"
                  [showClear]="true"
                  placeholder="Select Proficiency"
                  [options]="[
                    {label: 'Beginner', value: 'Beginner'},
                    {label: 'Intermediate', value: 'Intermediate'},
                    {label: 'Advanced', value: 'Advanced'},
                    {label: 'Expert', value: 'Expert'},
                    {label: 'Master', value: 'Master'}
                  ]"
                  optionLabel="label"
                  optionValue="value"
                ></p-dropdown>
              </div>
            </div>
  
            
          </div>
  
          <div>
            <div class="form-group px-2 py-2 -mx-2">
              <label for> Description</label>
              <app-custom-editor formControlName="summary"></app-custom-editor>
            </div>
          </div>
  
          <div class="flex justify-end">

          <p-button
              (onClick)="removeEducationRecord(i)"
              severity="danger"
              [rounded]="true"
              label="Delete"
            ></p-button>

          </div>
        </div>
      </div>
  
      <p-button
      class="btn-create"
      (onClick)="addEducationRecord()"
      type="button"
      label="Add Publications"
    ></p-button>
    </form>
  </div>
  
