<div class="form-section">
    <form [formGroup]="publicationsForm">
      <div formArrayName="publicationsRecords">
        <div
          *ngFor="let publication of publicationsRecords.controls; let i = index"
          [formGroupName]="i"
          class="publication-record"
        >
          <h3></h3>
  
          <div class="form-section flex flex-wrap  -mx-2">
            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <label for="name"> Publication Title </label>
              <input
                id="name"
                type="text"
                pInputText
                formControlName="title"
                placeholder="Enter publication title"
                class="w-full"
              />
            </div>
  
        
  
            <div class="form-group w-full  sm:w-1/2">
              <div class="example-input px-2 py-2 ">
                <label for="name"> Publisher  </label>
                <input
                  id="name"
                  type="text"
                  pInputText
                  formControlName="publisher"
                  placeholder="Enter publisher name"
                  class="w-full"
                />
              </div>
            </div>
  
            
          </div>

          <div class="form-section flex flex-wrap  -mx-2">
            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <label for="publishDate"> Publish Date </label>
              <p-calendar
                formControlName="publishDate"
                (ngModelChange)="onDateChange($event)"
              ></p-calendar>
            </div>

            <div class="form-group w-full px-2 py-2 sm:w-1/2">
              <label for="link"> Link (Optional) </label>
              <input
                id="link"
                type="url"
                pInputText
                formControlName="link"
                placeholder="https://..."
                class="w-full"
              />
            </div>
          </div>
  
          <div>
            <div class="form-group px-2 py-2 -mx-2">
              <label for="summary"> Summary</label>
              <app-custom-editor formControlName="summary"></app-custom-editor>
            </div>
          </div>
  
          <div class="form-actions">
            <p-button
              (onClick)="removePublicationRecord(i)"
              severity="danger"
              [outlined]="true"
              icon="pi pi-trash"
              label="Remove"
              type="button"
            ></p-button>
          </div>
        </div>
      </div>
  
    <p-button
      class="btn-add"
      (onClick)="addPublicationRecord()"
      type="button"
      label="+ Add Publication"
      icon="pi pi-plus"
      severity="secondary"
      [outlined]="true"
    ></p-button>
    </form>
  </div>
  
