<div class="form-section">
  <div [formGroup]="hobbiesForm">
    <div>
      <div class="education-record">
        <h3></h3>

        <div class="form-group w-full">
          <div class="flex flex-col">
            <label for> Hobbies </label>
            

            <p-multiSelect
              [options]="listOfOption"
              optionLabel="label"
              optionValue="value"
              placeholder="Please add or select"
              class="w-full"
            ></p-multiSelect>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
