<div class="form-section">
  <form [formGroup]="skillsForm">
    <div formArrayName="skillsRecords">

      <p-accordion>
        <p-accordionTab
          *ngFor="let skills of skillsRecord.controls; let i = index"
          [formGroupName]="i"
          [header]="skills.get('name')?.value || 'New Skill'"
          [selected]="true"
        >
 
        <div class="form-section flex flex-wrap -mx-2">
          <div class="form-group w-full px-2 py-2 sm:w-1/2">
            <label for="name"> Skill </label>
            <input
              id="name"
              type="text"
              pInputText
              placeholder=" Enter Skill"
              formControlName="name"
              class="w-full"
            />
          </div>

          <div class="example-input px-2 py-2 sm:w-1/2">
            <label for="name"> Proficiency </label>
            <p-dropdown
              class="w-full"
              formControlName="proficiency"
              [showClear]="true"
              placeholder="Select Proficiency"
              [options]="[
                {label: 'Beginner', value: 'Beginner'},
                {label: 'Intermediate', value: 'Intermediate'},
                {label: 'Advanced', value: 'Advanced'},
                {label: 'Expert', value: 'Expert'},
                {label: 'Master', value: 'Master'}
              ]"
              optionLabel="label"
              optionValue="value"
            ></p-dropdown>
          </div>
        </div>

        <div class="form-section w-full flex flex-wrap py-2 sm:w-1/2">
          <label for="name"> Level </label>
          <p-slider class="w-full"></p-slider>
        </div>

        <div class="flex justify-end">
          <p-button
          (onClick)="removeRecord(i)"
          severity="danger"
          [rounded]="true"
          label="Delete"
        ></p-button>
        </div>

      </p-accordionTab>
    </p-accordion>

      </div>
    <!-- </div> -->


    <section class="py-3">
    <p-button
      (onClick)="addRecord()"
      label="Add Skills"
      class="btn-create"
      type="button"
    ></p-button>
    </section>
  </form>
</div>
