<section class="app-container">
    <section class="builder">
      <p-accordion>
        @for (panel of panels; track panel) {
        <p-accordionTab
          [header]="panel.name"
          [selected]="panel.active"
          [ngStyle]="panel.customStyle"
        >
          <ng-container *ngIf="panel.visible">
            <ng-container *ngComponentOutlet="panel.component"></ng-container>
          </ng-container>
        </p-accordionTab>
        }
      </p-accordion>
    </section>
  
    <section class="preview">
     <div class="preview-template">
      <app-template-sunshine
      [PersonalDetails]="PersonalDetails"
      [Education]="Education"
    ></app-template-sunshine>
     </div>
    </section>
  
    
  </section>
