<div class="editor-container">
 
  <div
    class="editor"
    contenteditable="true"
    (input)="onContentChange()"
  ></div>
  <div class="toolbar">
    <button (click)="format('bold')"> <i class="pi pi-bold"></i> </button>
    <button (click)="format('underline')"> <i class="pi pi-underline"></i> </button>
    <button (click)="setAlignment('left')"> <i class="pi pi-align-left"></i> </button>
    <button (click)="setAlignment('center')"> <i class="pi pi-align-center"></i> </button>
    <button (click)="setAlignment('right')"> <i class="pi pi-align-right"></i> </button>


    <button (click)="format('insertOrderedList')"> <i class="pi pi-list"></i> </button>
    <button (click)="format('insertUnorderedList')"> <i class="pi pi-list"></i> </button>


    <button (click)="format('formatBlock', '<h1>')"> H1 </button>
    <button (click)="format('formatBlock', '<h2>')"> H2 </button>
    <button (click)="format('formatBlock', '<p>')">  P </button>

  
    <button pButton label="Generate with AI" [size]="'small'" (click)="generateText()" icon="pi pi-magic"></button>
  </div>
</div>
