<section>
	<div class="app-container">
		<section class="flex">
			<div>
				<p-card [header]="'Create new resume'" [subheader]="'Start a new resume'"
					styleClass="card-hover">
					<ng-template pTemplate="header">
						<i class="pi pi-plus-circle" style="font-size: 2.5rem"></i>
					</ng-template>
				</p-card>
			</div>

			<div>
				<p-card [header]="'Import Resume'" [subheader]="'Import already existing templates'"
					styleClass="card-hover">
					<ng-template pTemplate="header">
						<i class="pi pi-upload" style="font-size: 2.5rem"></i>
					</ng-template>
				</p-card>
			</div>

			<div class="flex justify-center items-center">
				<p-card [header]="'Europe Street beat'" [subheader]="'www.instagram.com'"
					styleClass="card-hover">
					<ng-template pTemplate="header">
						<i class="pi pi-image" style="font-size: 2.5rem"></i>
					</ng-template>
				</p-card>
			</div>
		</section>
	</div>
</section>
