<div class="form-section">
  <form [formGroup]="referenceForm">
    <div formArrayName="referenceRecords">

      <p-accordion>
        <p-accordionTab
          *ngFor="let reference of referenceRecords.controls; let i = index"
          [formGroupName]="i"
          [header]="reference.get('referenceName')?.value || 'Reference Name'"
          [selected]="true"
        >


        <div class="content-wrapper">
          <div class="form-section flex flex-wrap -mx-2">
            <div class="form-group w-full px-2 py-2  sm:w-1/2">
              <label for="referenceName"> Reference Name</label>
              <input
                placeholder="Name/Company"
                formControlName="referenceName"
                type="text"
                id="referenceName"
                class="tw-input w-full"
              />
            </div>

            <div class="form-group w-full px-2 py-2  sm:w-1/2">
              <label for="referenceTitle"> Reference Title</label>
              <input
                placeholder="Enter reference title/position"
                type="text"
                formControlName="referenceTitle"
                id="referenceTitle"
                class="tw-input w-full"
              />
            </div>
          </div>

          <div class="form-section flex flex-wrap -mx-2">
            <div class="form-group w-full px-2 py-2  sm:w-1/2">
              <label for="company"> Company</label>
              <input
                placeholder="Enter company name"
                formControlName="company"
                type="text"
                id="company"
                class="tw-input w-full"
              />
            </div>

            <div class="form-group w-full px-2 py-2  sm:w-1/2">
              <label for="phoneNumber"> Phone Number</label>
              <input
                placeholder="Phone Number"
                formControlName="phoneNumber"
                type="tel"
                id="phoneNumber"
                class="tw-input w-full"
              />
            </div>
          </div>

          <div class="form-section flex flex-wrap -mx-2">
            <div class="form-group w-full px-2 py-2  sm:w-1/2">
              <label for="emailAddress"> Email Address</label>
              <input
                placeholder="Enter Person Email"
                type="email"
                formControlName="emailAddress"
                id="emailAddress"
                class="tw-input w-full"
              />
            </div>
          </div>

          <div class="form-group w-full px-3 py-2 -mx-2">
            <label class="tw-switch-label">
              <input
                type="checkbox"
                formControlName="isHidden"
                class="tw-switch"
              />
              <span class="tw-switch-slider"></span>
              <span>I'd like to hide reference and make them available only upon request</span>
            </label>
          </div>

          <div class="form-actions">
            <button
              type="button"
              (click)="removeReferenceRecord(i)"
              class="tw-btn-danger"
            >
              <i class="pi pi-trash"></i>
              <span>Remove</span>
            </button>
          </div>
        </div>
    
    </p-accordionTab>
  </p-accordion>
    </div>


    <button
      type="button"
      (click)="addReferenceRecord()"
      class="tw-btn-add"
    >
      <i class="pi pi-plus"></i>
      <span>+ Add Reference</span>
    </button>
  </form>
</div>
